@mixin main {
    margin: 0 auto;
    padding: 50px 0 0 0;
    font-family: Roboto;
    font-size: 20px;
}

@mixin style_form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

@mixin style_child {
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4b4b4b;
    &:focus {
        box-shadow: 0 0 25px black; 
    }
}

@mixin style_btn {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(26, 14, 14);
    color: #fff;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      background-color: rgb(49, 37, 37);
    }
}