@media (max-width: 1200px) {
  .main {
    max-width: 900px;
  }
}

@media (max-width: 991px) {
  .main {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .main {
    &__list {
      padding-top: 70px;
    }
  }
}

@media (max-width: 575px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 0 0 50px 0;
    /* padding-bottom: 50px; */
  }

  .registration {
    &__form {
      max-width: 250px;
    }
    &__file {
      &-foto {
        width: 100px;
      }
    }
    &__togle {
        &-text {
            top: 10px;
            
        }
    }
  }
}

